:root {
    --blue: #4070f4;
    --blue2: #265df2;
    --white: #ffffff;
  }


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif !important;
}
.centre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre{
    font-weight: bold;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}
.modal-box input{
    width: 90%;
}
select{
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 1em;
    box-sizing: border-box;

}
textarea {
    resize: vertical;
    min-height: 100px;
}

header{
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43vw;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1366' height='768' preserveAspectRatio='none' viewBox='0 0 1366 768'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1247%26quot%3b)' fill='none'%3e%3crect width='1366' height='768' x='0' y='0' fill='rgba(4%2c 23%2c 103%2c 0.95)'%3e%3c/rect%3e%3cg transform='translate(0%2c 0)' stroke-linecap='round'%3e%3cpath d='M167 203.635 L167 300.385' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M167 348.76 L167 477.76' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M167 526.135 L167 564.365' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M210 119.965 L210 648.035' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M253 304.675 L253 336.925' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M253 385.3 L253 463.325' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M296 156.045 L296 317.29499999999996' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M296 365.66999999999996 L296 611.955' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M339 216.895 L339 551.105' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M382 354.445 L382 413.555' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M425 327.385 L425 440.615' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M468 115.905 L468 244.905' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M468 293.28 L468 390.03' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M468 438.405 L468 652.095' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M511 260.615 L511 507.385' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M554 117.415 L554 246.41500000000002' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M554 294.79 L554 391.54' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M554 439.915 L554 650.585' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M597 285.975 L597 318.225' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M597 366.6 L597 398.85' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M597 447.225 L597 482.025' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M640 290.935 L640 355.435' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M640 403.81 L640 477.065' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M683 177.795 L683 210.045' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M683 258.41999999999996 L683 387.41999999999996' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M683 435.79499999999996 L683 590.205' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M726 304.245 L726 336.495' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M726 384.87 L726 463.755' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M769 158.845 L769 352.345' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M769 400.72 L769 609.155' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M812 152.715 L812 615.285' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M855 138.325 L855 428.575' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M855 476.95 L855 509.2' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M855 557.575 L855 629.675' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M898 309.985 L898 458.015' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M941 132.245 L941 196.745' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M941 245.12 L941 503.12' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M941 551.495 L941 635.755' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M984 140.935 L984 627.065' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M1027 235.685 L1027 300.185' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M1027 348.56 L1027 532.315' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M1070 182.465 L1070 246.965' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M1070 295.34000000000003 L1070 392.09000000000003' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M1070 440.46500000000003 L1070 585.535' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M1113 325.295 L1113 442.705' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M1156 266.445 L1156 330.945' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M1156 379.32 L1156 411.57' stroke-width='32.25' stroke='rgba(254%2c 125%2c 4%2c 1)'%3e%3c/path%3e%3cpath d='M1156 459.945 L1156 501.54499999999996' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M1199 225.855 L1199 258.105' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3cpath d='M1199 306.48 L1199 338.73' stroke-width='32.25' stroke='rgba(74%2c 15%2c 214%2c 1)'%3e%3c/path%3e%3cpath d='M1199 387.105 L1199 542.145' stroke-width='32.25' stroke='rgba(4%2c 125%2c 254%2c 1)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1247'%3e%3crect width='1366' height='768' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h1 {
    font-size: clamp(44px, 9.5vw, 78px);
    text-align: center;
    color: #fff;
}



.in{
    display: inline-block;
    user-select: none;
    width: 500px;
}
.zone{
    display: flex;
    justify-content: center;
}
.line button{
    padding: 7px;
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.174);
    transition: 0.2s ease-in-out;
    cursor: pointer;

}
button:hover{
    transform: translateY(-3px);
}



.cardP{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 20px;
}

.card{
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    width: clamp(200px, 7vw, 300px);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}



section {
    height: 100%;
    width: 100%;
    background: #e3f2fd;
  }
  button {
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    border: none;
    background: #4070f4;
    border-radius: 6px;

    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  button:hover {
    background-color: #265df2;
  }
  button.show-modal,
  .modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  section.active .show-modal {
    display: none;
  }

  section.active .overlay {
    opacity: 1;
    pointer-events: auto;
  }
  .overlay{
    transition: 0.2s ease-in-out;
  }
  section.active .overlay{
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    z-index: 98;
    background-color: #45454536;
    backdrop-filter: blur(16px);
  }
  .modal-box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    min-width: 300px;
    z-index: 99;
    border-radius: 7px;
    background-color: #ece8e8;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
  }
  section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-box i {
    font-size: 70px;
    color: #4070f4;
  }
  .modal-box h2 {
    margin-top: 20px;
    font-weight: 500;
    color: #333;
  }
  .modal-box h3 {
    font-weight: 400;
    color: #333;
    text-align: center;
  }
  .modal-box .buttons {
    margin-top: 25px;
  }
  .modal-box button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
  }
.close-btn
{
    position: absolute;
    left: 97%;
    z-index: 99;
    top: -3%;
    transition: 0.2s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.close-btn:hover{
    transform: translate(-7%, 7%);
}
.card img{
    width: 100px;
}


section h2 {
    font-size: clamp(15px, 4vw, 40px);
}

.card h3 {
    font-size: clamp(13px, 1vw, 20px);
}

p {
    font-size: clamp(10px, 2.5vw, 15px); /* taille minimale de 16px, préférée de 2.5vw, maximale de 20px */
}

.card img {
    width: clamp(50px, 30vw, 200px); /* largeur minimale de 200px, préférée de 50vw, maximale de 600px */
    height: auto; /* pour garder les proportions de l'image */
}


.boxNav{
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    width: 61%;
}
.line{
    display: flex;
    padding: 10px;
    width: 70%;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.boxNav button{
    position: absolute;
    margin: 7px;
    right: 0;
}
select, input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid rgb(211, 211, 213);
    padding: 13px;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
}
input:focus{
    border: 1px solid var(--blue2);
}
.boite{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    gap: 40px;
    align-items: center;
    font-family: "Poppins", sans-serif !important;
    justify-content: start;
}
.carte{
    width: 300px;
    height: 200px;
    border-radius: 4px;
    box-shadow: 0 0 35px 7px rgba(124, 123, 123, 0.129);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 34px;

}
.btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.boite .bt{
    font-size: clamp(12px, 1vw, 16px);
    border-radius: 4px;
    width: 28%;
    padding: 7px;
}

.button,button,  .btnBox button {
    width: clamp(50px, 10vw, 200px);
    font-size: clamp(10px, 0.5vw, 13px)  !important;
    background-color: #060122;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
    color: #fff !important;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1, header p{
    color: #fff !important;

}
.btnBox button{
    width: 50% !important;
}

.btnBox{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 10px;

}

.infos{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.bt1{
    background-color: rgb(252, 67, 67);
}

.lien{
    border: 2px dotted;
    padding: 20px;
    border-radius: 7px;
}

.modal-box form{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px;
}
.group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}
.group input{
    width: 100%;
    padding: 10px;
    border-radius: 0;
}
